.sp-preview-container {
  @apply flex h-full w-full grow flex-col justify-center;
}

.sp-preview-iframe {
  @apply grow;
}

.button {
  background-color: #047857;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #4c51bf;
}

